# import libraries

In [270]:
import ee
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Authentication and Initialization  -
Before you can make requests to Earth Engine through a client library, you must authenticate

In [272]:
ee.Authenticate()

True

In [273]:
ee.Initialize()

# Get statistics of Rectangels(regions) around the specific points

In [275]:
#dowenload the image collection and filter it with date and get the median image
dataset = ee.ImageCollection('LANDSAT/LC09/C02/T1_L2').filterDate('2022-09-01', '2022-09-30').median()

In [276]:
# Define the points (coordinates)
points = [
    [30.488472, 31.173472],
    [30.524722, 31.151861],
    [30.566028, 31.130972],
    [30.647556, 31.077806],
    [30.734028, 31.028500],
    [30.807556, 31.013361],
    [30.790639, 30.965194],
    [30.801278, 30.913278],
    [30.815306, 30.904389],
    [30.848333, 30.901222],
    [30.876917, 30.873500],
    [30.899056, 30.856250],
    [30.930333, 30.835639],
    [30.961583, 30.783083],
    [31.003111, 30.759333],
    [31.043556, 30.735694],
    [31.085667, 30.727861],
    [31.101222, 30.683639],
    [31.143611, 30.645361],
    [31.182500, 30.600361],
    [31.207500,30.569444],
    [31.224444,30.531583],
    [31.264361,30.518389],
    [31.311250,30.515528],
    [31.344417,30.482861],
    [30.851444,31.030083],
    [30.894389,31.024361],
    [30.893667,31.024667],
    [30.931611,30.990083],
    [30.980056,30.970417],
    [31.031639,30.961556],
    [31.085750,30.965417],
    [31.142111,30.968861],
    [31.214722,30.984111],
    [31.268806,30.990528],
    [31.261778,31.049611],
    [31.278194,31.093417],
    [31.328944,31.132139],
    [31.399000,31.125000],
    [31.471750,31.126861],
    [31.526444,31.140306],
    [31.565361,31.081889],
    [31.586472,31.052500],
    [31.412167,30.451000],
    [31.340417,30.366278],
    [31.205000,30.091444],
    [31.167278,30.069167],
    [31.128167,30.102194],
    [31.120861,30.164528],
    [31.108250,30.211944],
    [31.086417,30.294417],
    [31.069194,30.359806],
    [31.013250,30.473583],
]

In [277]:
# Create a feature collection from the points
features = ee.FeatureCollection([ee.Feature(ee.Geometry.Point(coord)) for coord in points])

In [278]:
# Define the size of the rectangle in meters (1 km x 1 km)
size = 7000  # Size in meters

In [279]:
# Create a function to create a rectangle around a point
def create_rectangle(point):
    lat = point[1]
    lon = point[0]
    
    # Calculate the corners of the rectangle
    topLeft = [
        lon - (size / 20037508.34 * 180 / 3.141592653589793),
        lat + (size / 20037508.34 * 180 / 3.141592653589793)
    ]
    
    bottomRight = [
        lon + (size / 20037508.34 * 180 / 3.141592653589793),
        lat - (size / 20037508.34 * 180 / 3.141592653589793)
    ]
    
    # Return the rectangle geometry
    return ee.Geometry.Rectangle(
        topLeft[0], bottomRight[1],
        bottomRight[0], topLeft[1]
    )

In [280]:
# Create a feature collection of rectangles
rectangles = ee.FeatureCollection([ee.Feature(create_rectangle(pt)) for pt in points])

In [281]:
# Function to get statistics for each rectangel
def get_statistics(feature):
    point = feature.geometry()
    # Calculate the median for each band in the median image
    stats = dataset.reduceRegion(
        reducer=ee.Reducer.median(),
        geometry=point,
        scale=30  # resolution in meters
    )
    return feature.set(stats)

In [282]:
# Apply the function to each rectangel in the features collection
stats_features = rectangles.map(get_statistics)

In [283]:
# Extract features and their statistics from the server-side
features = stats_features.getInfo().get('features', [])

# prepare the table data to store the statistics results

In [ ]:
# Initialize a data table as a dictionary
data_table = {
    'Point Longitude': [],
    'Point Latitude': [],
    'SR_B1': [],
    'SR_B2': [],
    'SR_B3': [],
    'SR_B4': [],
    'SR_B5': [],
    'SR_B6': [],
    'SR_B7': []
}
# Loop through features and populate the data table
for feature in features:
    properties = feature['properties']
    coords = feature['geometry']['coordinates'][0]  # Assuming the coordinates are in the first list
    
    # Calculate the centroid manually since Python does not have direct access like JS
    centroid_lon = sum([coord[0] for coord in coords]) / len(coords)
    centroid_lat = sum([coord[1] for coord in coords]) / len(coords)

    # Populate data_table with the centroid coordinates and properties
    data_table['Point Longitude'].append(centroid_lon)
    data_table['Point Latitude'].append(centroid_lat)
    data_table['SR_B1'].append(properties.get('SR_B1'))
    data_table['SR_B2'].append(properties.get('SR_B2'))
    data_table['SR_B3'].append(properties.get('SR_B3'))
    data_table['SR_B4'].append(properties.get('SR_B4'))
    data_table['SR_B5'].append(properties.get('SR_B5'))
    data_table['SR_B6'].append(properties.get('SR_B6'))
    data_table['SR_B7'].append(properties.get('SR_B7'))

In [285]:
#Create a DataFrame to display statistics
df = pd.DataFrame(data_table)

# Print the DataFrame
print(df)

# Save the result to a CSV file
csv_filename = 'land9rec_statistics.csv'
df.to_csv(csv_filename, index=False)
print(f'Results saved to {csv_filename}')

    Point Longitude  Point Latitude         SR_B1         SR_B2         SR_B3  \
0         30.484469       31.169469   8542.257552   8990.842453  10335.968933
1         30.520719       31.147858   8672.115410   9183.551312  10463.319309
2         30.562025       31.126969   8544.434922   8990.376096  10255.755113
3         30.643553       31.073803   8591.283191   8976.389769  10032.113899
4         30.730025       31.024497   8399.242974   8751.903998   9950.633029
5         30.803553       31.009358   8463.304379   8879.343494   9999.528547
6         30.786636       30.961191   8527.543621   8943.305339   9903.664434
7         30.797275       30.909275   8478.800231   8927.538575   9951.134365
8         30.811303       30.900386   8478.962482   8864.170318   9950.581396
9         30.844330       30.897219   8559.565634   8912.089777   9967.351951
10        30.872914       30.869497   8623.895203   8975.427220   9999.751366
11        30.895053       30.852247   8799.178948   9182.935168  10142.006687
12        30.926330       30.831636   8815.154812   9167.640121  10143.308206
13        30.957580       30.779080   8862.097672   9245.911067  10205.943329
14        30.999108       30.755330   8782.028150   9134.880170  10128.123757
15        31.039553       30.731691   8839.803830   9199.457651  10191.558309
16        31.081664       30.723858   8944.231525   9327.473073  10255.303183
17        31.097219       30.679636   9006.769352   9391.898059  10352.093018
18        31.139608       30.641358   8776.025816   9143.997366  10095.448084
19        31.178497       30.596358   8679.953834   9015.822078   9967.805217
20        31.203497       30.565441   8807.661679   9127.937162  10095.961611
21        31.220441       30.527580   8912.291965   9231.713947  10256.291933
22        31.260358       30.514386   8871.948082   9207.784104  10190.489389
23        31.307247       30.511525   8751.437160   9070.920955  10031.861848
24        31.340414       30.478858   8623.302209   8975.616754  10062.860933
25        30.847441       31.026080   8543.464448   8991.445697  10270.301254
26        30.890386       31.020358   8606.870269   8927.736272  10014.611195
27        30.889664       31.020664   8543.861171   8927.886068  10014.638571
28        30.927608       30.986080   8656.112652   9040.022503  10094.687053
29        30.976053       30.966414   8527.598806   8911.599369   9968.007624
30        31.027636       30.957553   8464.418762   8815.732233   9871.690293
31        31.081747       30.961414   8495.444576   8847.922713   9871.725344
32        31.138108       30.964858   8910.733837   9328.115232  10510.995005
33        31.210719       30.980108   8783.940123   9167.334634  10320.089123
34        31.264803       30.986525   8591.660863   8975.851059  10095.237021
35        31.257775       31.045608   8527.183400   8911.698072  10079.617967
36        31.274191       31.089414   8271.625179   8623.518942   9823.500886
37        31.324941       31.128136   8591.710589   8974.932374  10078.519695
38        31.394997       31.120997   8862.839820   9310.998349  10335.237902
39        31.467747       31.122858   8799.414691   9248.439869  10335.789682
40        31.522441       31.136303   8894.704552   9405.612444  10944.201348
41        31.561358       31.077886   8637.967288   9022.226886  10431.106346
42        31.582469       31.048497   8674.072618   9119.599928  10399.875820
43        31.408164       30.446997   8687.729219   9071.594221  10191.454079
44        31.336414       30.362275   8719.717438   9102.666888  10128.042335
45        31.200997       30.087441  10000.031375  10607.153453  11807.658801
46        31.163275       30.065164   9808.216077  10352.175601  11487.586637
47        31.124164       30.098191   9006.824951   9327.666296  10383.860093
48        31.116858       30.160525   8814.932511   9167.884029  10318.599158
49        31.104247       30.207941   8719.876012   9103.785302  10160.636751
50        31.082414       30.290414   8464.139383   8847.638874   9903.441024
51        31.065191       30.355803   8711.947569   9112.060515  10191.873009
52        31.009247       30.469580   8487.860922   8871.800040  10031.460348

           SR_B4         SR_B5         SR_B6         SR_B7
0   10271.106088  19295.000631  14047.413475  11232.601746
1   10526.645892  18623.800642  14270.421080  11617.215260
2   10271.003404  18144.426569  13982.809119  11294.156589
3   10254.651182  16288.806148  13406.079568  11230.335729
4    9760.066596  16833.159048  12767.169684  10464.016436
5   10031.199687  17119.561434  12960.102583  10593.276527
6   10080.604360  15455.719982  12639.849135  10911.234650
7   10078.641146  15456.412990  12639.941210  10913.745925
8   10015.637111  15713.946590  12511.179731  10719.035131
9   10095.950948  15643.638386  12511.652870  10849.498905
10  10223.278447  15327.769634  12705.053121  11038.498537
11  10590.208530  15392.025032  13281.889369  11550.056641
12  10654.938458  15518.801482  13535.339192  11712.793317
13  10719.966990  14878.707395  13761.061838  11935.697007
14  10529.306037  14816.236577  13342.887674  11550.998109
15  10607.523857  14814.241947  13474.095091  11616.014608
16  10783.807687  14690.087818  13602.091811  11936.833456
17  10976.648277  14814.430736  14046.454187  12383.059156
18  10543.975141  14879.595830  13471.339162  11614.479681
19  10191.576356  15967.501153  13726.123311  11408.014160
20  10415.754553  15425.946329  13983.605434  11807.779680
21  10592.581376  15774.693614  14239.637664  12127.335274
22  10479.344489  15710.974863  13983.268928  11869.562598
23  10207.364620  15936.278174  13792.470118  11486.294464
24  10079.031589  16543.229481  13535.825477  11230.145010
25  10335.105757  17953.687765  13406.053098  11037.980969
26  10272.871221  16093.956702  12894.828309  11039.215260
27  10272.791576  16157.934080  12894.844175  11039.237440
28  10479.513312  15265.992111  13087.642762  11360.237333
29  10223.992828  15583.257444  12895.678873  11039.516386
30  10031.595592  15586.045196  12766.528828  10784.681521
31  10032.957325  16416.834279  13215.125056  10975.935603
32  10910.623447  16222.678057  14173.129526  12131.133409
33  10526.696031  15807.446424  13535.931169  11553.743618
34  10271.702456  16319.605746  13214.913371  11105.445774
35  10146.426285  18240.041790  13599.741567  11039.811944
36   9631.139421  19134.393048  13022.400075  10463.426565
37  10337.021121  17984.670885  13502.564521  11296.590566
38  10847.862901  14625.086470  13758.046901  12062.698905
39  10719.942159  17471.459180  13920.065185  11744.910448
40  11584.298730  19650.136540  15808.102309  12862.411055
41  10431.513161  20159.004977  14400.558802  11457.869618
42  10591.532486  20415.683854  14274.994114  11485.777493
43  10337.218240  17056.492072  13791.023421  11360.076873
44  10463.893542  16029.945607  13982.515391  11807.056060
45  12831.585232  14495.874970  15295.552538  14368.592271
46  12382.279423  15391.035486  15264.694540  14047.890999
47  10590.862697  15935.439481  13983.279737  11679.308208
48  10462.628327  15709.952886  14110.914793  11743.248666
49  10398.704469  15551.411938  13792.095499  11808.369019
50  10079.881820  15807.597379  13472.626433  11361.086836
51  10671.445330  15327.835756  13918.789709  12128.709846
52  10127.503943  16444.239098  13663.400835  11423.185813
Results saved to land9rec_statistics.csv

# calculate the correlation between bands and HM

In [287]:
# read data and display it 
data=pd.read_csv('land9rec_statistics.csv')
data.head()

,Point Longitude,Point Latitude,SR_B1,SR_B2,SR_B3,SR_B4,SR_B5,SR_B6,SR_B7
0,30.484469,31.169469,8542.257552,8990.842453,10335.968933,10271.106088,19295.000631,14047.413475,11232.601746
1,30.520719,31.147858,8672.115410,9183.551312,10463.319309,10526.645892,18623.800642,14270.421080,11617.215260
2,30.562025,31.126969,8544.434922,8990.376096,10255.755113,10271.003404,18144.426569,13982.809119,11294.156589
3,30.643553,31.073803,8591.283191,8976.389769,10032.113899,10254.651182,16288.806148,13406.079568,11230.335729
4,30.730025,31.024497,8399.242974,8751.903998,9950.633029,9760.066596,16833.159048,12767.169684,10464.016436

In [288]:
# add the HM concentration column to df
data['HM']=[
384.9,
318.3,
342.4,
440.8,
397.6,
380.4,
381.2,
414.5,
333.9,
362.8,
366.9,
407.6,
373.5,
382.0,
385.6,
356.8,
293.4,
332.1,
363.2,
429.9,
378.6,
419.2,
399.6,
189.0,
427.1,
429.2,
392.4,
387.6,
437.0,
444.5,
410.6,
453.4,
409.2,
448.0,
376.7,
395.0,
397.7,
347.8,
328.7,
292.1,
222.7,
152.0,
141.5,
287.4,
340.4,
318.1,
309.6,
325.8,
246.8,
231.3,
326.1,
276.7,
340.9]

In [289]:
data.head()

,Point Longitude,Point Latitude,SR_B1,SR_B2,SR_B3,SR_B4,SR_B5,SR_B6,SR_B7,HM
0,30.484469,31.169469,8542.257552,8990.842453,10335.968933,10271.106088,19295.000631,14047.413475,11232.601746,384.9
1,30.520719,31.147858,8672.115410,9183.551312,10463.319309,10526.645892,18623.800642,14270.421080,11617.215260,318.3
2,30.562025,31.126969,8544.434922,8990.376096,10255.755113,10271.003404,18144.426569,13982.809119,11294.156589,342.4
3,30.643553,31.073803,8591.283191,8976.389769,10032.113899,10254.651182,16288.806148,13406.079568,11230.335729,440.8
4,30.730025,31.024497,8399.242974,8751.903998,9950.633029,9760.066596,16833.159048,12767.169684,10464.016436,397.6

In [290]:
# split the target(HM) and get correlation between it and features(bands)
target='HM'
#pearson correlation
corr=data.corr()[target]
print(corr)

Point Longitude   -0.457153
Point Latitude     0.234361
SR_B1             -0.231367
SR_B2             -0.251762
SR_B3             -0.353670
SR_B4             -0.291042
SR_B5             -0.334104
SR_B6             -0.508403
SR_B7             -0.329160
HM                 1.000000
Name: HM, dtype: float64